.composer {
  @media (min-width: 768px) {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
  }
}

.composerOutput {
  height: 100vw;
  position: relative;
  @media (min-width: 768px) {
    height: auto;
    flex: 1 1 auto;
  }
}

.composerInput {
  border-top: 1px solid var(--color-layout-border);
  @media (min-width: 768px) {
    border-top: none;
    border-left: 1px solid var(--color-layout-border);
    flex: 0 0 var(--width-composer-sidebar);
  }
}
