.foreground {
  position: absolute;
  width: 100%;
  height: 100%;
}

.foreground>div {
  position: absolute;
  justify-content: space-between;
  left: 40px;
  right: 40px;
}

.typeTop {
  top: 40px;
}

.typeBottom {
  bottom: 40px;
}

.typeLeft {
  text-align: left;
}

.typeRight {
  text-align: right;
}

.typePrimary,
.typeSecondary {
  display: block;
  line-height: 1;
  text-transform: uppercase;
}

.typePrimary {
  opacity: 1;
}

.typeSecondary {
  opacity: 0.5;
}