.figure{
  background-color: var(--gray-4);
  height: 100%;
  line-height: 1;
}

.figure > * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.figureForeground > * {
  position: absolute;
}

.topLeft {
  top: var(--space-default);
  left: var(--space-default);
}

.topRight {
  text-align: right;
  top: var(--space-default);
  right: var(--space-default);
}

.bottomLeft {
  left: var(--space-default);
  bottom: var(--space-default);
}

.bottomRight {
  text-align: right;
  right: var(--space-default);
  bottom: var(--space-default);
}

.figureType {
  display: block;
  font-size: var(--font-size-small);
  text-transform: uppercase;
}

.figureTypePrimary {
  opacity: 1;
}

.figureTypeSecondary {
  opacity: 0.5;
}

.loading {
  border: 2px dashed #ddd;
  box-shadow: none;
  color: #999;
  text-align: center;
}

.error {
  border: 2px solid #f33;
  color: #f33;
  text-align: center;
}
