.item {
  background-color: var(--color-control-background);
  border: 1px solid var(--color-control-border);
  padding: var(--space-3) var(--space-4);
  margin: 0 0 var(--space-2) 0;
  border-radius: var(--radius-2);
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
}
.item:hover,
.item:focus {
  box-shadow: none;
  border-color: var(--color-control-border-focus);
}

.item:active,
.itemActive,
.itemActive:focus,
.itemActive:hover,
.itemActive:active {
  border-color: var(--color-control-border-active);
}

.item:last-of-type {
  margin-bottom: 0;
}

.itemDate {
  color: var(--gray-9);
  display: block;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  line-height: 1;
  margin: 0 0 var(--space-1) 0;
  text-transform: uppercase;
}  

.itemName {
  display: block;
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  line-height: 1;
}