.radix-themes {
  /* Chromatics */
  --color-accent: var(--blue-9);
  --color-background-layout: var(--gray-2);
  --color-border-layout: var(--gray-4);
  --color-background-control: var(--gray-1);
  --color-border-control: var(--gray-7);
  --color-border-control-hover: var(--gray-8);
  --color-border-control-focus: var(--gray-8);
  --color-border-control-active: var(--color-accent);
  --color-background-skeleton: var(--gray-3);
  /* Typography */
  --font-size-small: var(--font-size-1);
  --font-size-regular: var(--font-size-3);
  /* Border */
  --border-radius-skeleton: var(--radius-2);
  /* Dimensions */
  --space-default: var(--space-5);
  --space-h-default: var(--space-5);
  --space-v-default: var(--space-5);
  --width-composer-sidebar: 20rem;
}