.typePrimary,
.typeSecondary {
  display: block;
  line-height: 1;
  text-transform: uppercase;
}

.typeGrid>div {
  position: absolute;
  justify-content: space-between;
  left: 40px;
  right: 40px;
}

.typeTop {
  top: 40px;
}

.typeBottom {
  bottom: 40px;
}

.typeLeft {
  text-align: left;
}

.typeRight {
  text-align: right;
}