.itemActive,
.itemActive:focus,
.itemActive:hover,
.itemActive:active {
  outline: auto var(--color-control-border-active);
}

.itemDate {
  color: var(--gray-9);
  display: block;
  font-size: var(--font-size-small);
  text-transform: uppercase;
}

.itemName {
  display: block;
}