.user {
  position: relative;
}
.userProfile {
}
.userAvatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
}
.userActions {
  visibility: hidden;
  background-color: #fff;
  border-radius: 0.2rem;
  padding: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 
  0px 0px 4px rgba(0,0,0,0.1), 
  0px 2px 8px rgba(0,0,0,0.1), 
  0px 4px 16px rgba(0,0,0,0.2);
}
.userActions::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #fff;
  height: 0;
  width: 0;
}
.user:hover .userActions {
  visibility: visible;
}
.userAction {
  all: unset;
  background: #FC4C02;
  border-radius: 0.2rem;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-weight: 500;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}