.activity,
.activityPlaceholder {
  border-radius: 0.25rem;
  box-shadow:
  0px 0px 4px rgba(0, 0, 0, 0.1),
  0px 2px 8px rgba(0, 0, 0, 0.1),
  0px 4px 16px rgba(0, 0, 0, 0.2);
  padding: 2rem 2rem 3rem;
}

.activityPlaceholder {
  border: 2px solid #ddd;
  box-shadow: none;
  color: #999;
  text-align: center;
}

.loading {
  border: 2px dashed #ddd;
  box-shadow: none;
  color: #999;
  text-align: center;
}

.error {
  border: 2px solid #f33;
  color: #f33;
  text-align: center;
}

.activityTitle {
  font-weight: 500;
  margin-bottom: 1rem;
}

.activityContent {
}

.activitySource {
  color: #999;
  text-align: right;
  margin-top: 1rem;
}

.activitySourceLink:hover {
  text-decoration: underline;
}