.activity,
.activityPlaceholder {
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  padding: 2rem;
  position: relative;
}

.activityPlaceholder {
  border: 2px solid #ddd;
  box-shadow: none;
  color: #999;
  text-align: center;
}

.loading {
  border: 2px dashed #ddd;
  box-shadow: none;
  color: #999;
  text-align: center;
}

.error {
  border: 2px solid #f33;
  color: #f33;
  text-align: center;
}

.activityTitle {
  font-weight: 500;
  margin-bottom: 1rem;
}

.activityContent {
  position: relative;
  width: 100%;
  height: 600px;
}

.activitySource {
  color: #999;
  text-align: right;
  margin-top: 1rem;
}

.activitySourceLink:hover {
  text-decoration: underline;
}