.title {
  font-weight: 100;
  font-family: var(--condensed-font-family);
  text-transform: uppercase;
  text-align: center;
}

.metaItem {
  font-weight: 100;
  font-family: var(--condensed-font-family);
  text-transform: uppercase;
}

.metaList {
  font-weight: 100;
  font-family: var(--condensed-font-family);
  text-transform: uppercase;
}
